<plugin name='greenmail' version='1.2-SNAPSHOT' grailsVersion='1.1.1 &gt; *'>
  <author>Mike Hugo</author>
  <authorEmail>mike@piragua.com</authorEmail>
  <title>Greenmail Plugin for Grails</title>
  <description>\
Provides a wrapper around GreenMail (http://www.icegreen.com/greenmail/) and provides a view that displays 'sent' messages
</description>
  <documentation>http://grails.org/plugin/greenmail</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>com.piragua.greenmail.GreenmailController</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenCentral' />
    </resolvers>
    <dependency group='com.icegreen' name='greenmail' version='1.3' conf='build' transitive='true' />
  </dependencies>
  <behavior />
</plugin>