table.list { width: 100%; margin-bottom: 12px; border: 1px solid #000; text-align: left; }
table.list caption { padding-top: 6px; text-align: left; font-size: 12px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
table.list tr.odd { background: #fbfbfb; }
table.list th, table.list td { padding: 6px; border-right: 1px solid #000; }
table.list th { border-bottom: 1px solid #000; vertical-align: top; background: #eee; line-height: 100%;}
table.list td { border-bottom: 1px dotted #aaa; vertical-align: top; }
